body {
    background-color: #47C1C4;
}

.intro-banner {
    width: 100vw;
    height: 200vh !important;
    padding-top: 13em;
}

.grey-title h1 {
    width: 40vw;
    color: #fff;
    background-color: #737373;
    font-size: 3.2vw;
    border-radius: 0 10px 10px 0;
    padding: 0.5em;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

.intro-info {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    width: 100vw;
    padding: 0 8vw 0 20vw;
    margin-top: 6em;
    color: #fff;
}

.intro-info h2 {
    font-size: 5vw;
    margin-bottom: 1em;
    font-family: 'Quicksand', sans-serif;
}

.intro-info p {
    font-size: 2vw;
}

.white-bgr {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: relative;
    height: 1100vh !important;
}

.white-bgr-logo {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    width: 100vw;
    padding: 5vw;
}

.white-brg-subtitle {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 25em 0;
}

.white-brg-subtitle h3 {
    font-size: 3vw;
    margin-bottom: 2em;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    color: #47C1C4;
}

.white-brg-subtitle p {
    color: #737373;
    font-size: 2vw;
    font-weight: bold;
    width: 40vw;
    text-align: left;
}

.white-bgr-logo img {
    position: absolute;
    right: -5em;
    width: 55vw;
    margin-top: 40em;
}

.des-sec {
    height: 400vh;
    padding: 10vw;
}

.des-intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.des-intro p {
    font-size: 3vw;
    margin: 2em 0 5em 0;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

.list-banner {
    color: #47C1C4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 70vw;
}

.list-el {
    display: flex;
    margin: 1em 0;
}

.list-el h3 {
    font-size: 10vw;
    font-weight: bold;
    align-self: flex-end;
    width: 1.5em;
}

.list-el p {
    font-size: 3vw;
    align-self: center;
}

.final-banner {
    width: 100vw;
}

.final-grey-title {
    color: #fff;
    background-color: #737373;
    padding: 1em;
    font-size: 2vw;
    font-family: 'Quicksand', sans-serif;
    width: 40vw;
    text-align: center;
    border-radius: 0 10px 10px 0;
    margin-bottom: 8em;
}

.final-banner-list {
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 0 15vw;
}

.final-banner-list p {
    font-size: 3vw;
    font-weight: bold;
    margin: 3em 0; 
}

.left {
    align-self: flex-start;
    width: 20em;
    text-align: left;
}

.right {
    align-self: flex-end;
    width: 20em;
    text-align: right;
}

.contacto-footer {
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacto-banner {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-contacto {
    width: 40vw;
}

.logo-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40vw;
}

.logo-button p {
    font-size: 2vw;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    margin-bottom: 2em;
}

.contacto-button {
    font-family: 'Quicksand', sans-serif;
    color: #fff;
    background-color: #737373;
    padding: 0.5em 1em;
    border-radius: 10px;
    font-size: 2vw;
    font-weight: bolder;
    cursor: pointer;
}

.contacto-button:hover {
    font-size: 2.5vw;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .intro-info {
        padding: 0 5vw 0 10vw;
    }

    .grey-title h1 {
        width: 60vw;
    }

    .intro-info p {
        font-size: 3vw;
    }

    .white-bgr {
        height: 800vh !important;
    }

    .white-brg-subtitle h3 {
        font-size: 5vw;
        margin-bottom: 1em;
    }

    .white-brg-subtitle p {
        width: 80vw;
        font-size: 3vw;
    }

    .white-bgr-logo img {
        right: -5em;
        width: 70vw;
        margin-top: 50em;
    }

    .des-sec {
        height: 350vh;
        padding: auto;
    }

    .des-intro p {
        font-size: 5vw;
    }

    .list-banner {
        width: 85vw;
    }

    .list-el h3 {
        font-size: 13vw;
    }
    
    .list-el p {
        font-size: 3.5vw;
    }

    .final-grey-title {
        font-size: 3vw;
        width: 60vw;
    }

    .final-banner-list {
        padding: 0 10vw;
    }

    .final-banner-list p {
        font-size: 3.5vw;
    }

    .logo-contacto {
        width: 40vw;
        margin: auto;
    }
    
    .logo-button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 50vw;
        margin: auto;
    }

    .logo-button p {
        font-size: 2.5vw;
        margin-bottom: 5em;
    }
    
    .contacto-button {
        padding: 0.5em 1em;
        border-radius: 10px;
        font-size: 3vw;
        margin: auto;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .intro-banner {
        height: 150vh !important;
    }

    .grey-title h1 {
        width: 80vw;
        font-size: 7vw;
    }

    .white-bgr {
        height: 600vh !important;
    }

    .intro-info {
        padding: 0 5vw;
    }

    .intro-info h2 {
        font-size: 7vw;
    }

    .intro-info p {
        font-size: 5vw;
    }

    .white-brg-subtitle h3 {
        font-size: 7vw;
        margin-bottom: 1em;
    }

    .white-brg-subtitle p {
        width: 90vw;
        font-size: 4vw;
    }

    .white-bgr-logo img {
        right: -2em;
        width: 80vw;
        margin-top: 40em;
    }

    .des-sec {
        height: 200vh;
        padding: auto;
    }

    .des-intro p {
        font-size: 6vw;
        margin: 2em 0 5em 0;
    }

    .list-banner {
        width: 90vw;
    }

    .list-el {
        display: flex;
        max-height: 10em;
        margin: 1em 0;
        width: 100%;
    }
    
    .list-el h3 {
        font-size: 15vw;
        width: 1.3em;
    }
    
    .list-el p {
        font-size: 4vw;
    }

    .final-grey-title {
        font-size: 4vw;
        width: 80vw;
        margin-bottom: 4em;
    }

    .final-banner-list {
        padding: 0 10vw;
    }

    .final-banner-list p {
        font-size: 5vw;
    }

    .contacto-footer {
        height: 90vh;
    }

    .contacto-banner {
        flex-direction: column;
    }

    .logo-contacto {
        width: 75vw;
    }
    
    .logo-button {
        display: flex;
        align-items: center;
        width: 80vw;
        margin-top: 5em;
    }

    .logo-button p {
        font-size: 5vw;
        margin-bottom: 3em;
    }
    
    .contacto-button {
        font-size: 5vw;
    }
}
