body {
    background-color: #737373 !important;
}

.home-banner {
    height: 210vh;
}

.blue-sqr-cont {
    width: 100vw;
    display: flex;
    justify-content: flex-end;
}

.blue-sqr {
    margin-top: 12em;
    background-color: #47C1C4;
    width: 45vw;
    padding: 2em;
    border-radius: 10px;
    text-align: center;
}

.blue-sqr h3 {
    color: #fff;
    font-size: 3em;
}

.home-info {
    margin-top: 3em;
    padding: 0 5em;
    width: 80vw;
}

.subtitle {
    font-family: 'Quicksand', sans-serif;
    font-size: 4em;
    font-weight: bolder;
    color: #fff;
}

.home-info p {
    margin-top: 3em;
    font-size: 1.7em;
    line-height: 1.5em;
    color: #fff;
}

.home-img img {
    width: 50em;
    margin-top: 20em;
    position: absolute;
    right: -7em;
}

.des-sec {
    height: 350vh;
    padding: 10em;
}

.des-intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.des-intro div {
    text-align: left;
}

.des-intro p {
    font-size: 2em;
    margin: 2em 0 10em 0;
    width: 60vw;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.steps {
    margin: 5em 0;
}

.steps-title {
    color: #47C1C4;
    font-size: 5em;
}

.steps p {
    font-size: 2.3em;
    margin: 1em 0;
    width: 30em;
}

.steps-title strong {
    font-size: 2em;
    line-height: 1.5em;
}

.contacto-footer {
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacto-banner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-contacto {
    width: 50em;
}

.logo-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40vw;
}

.logo-button p {
    font-size: 2.5em;
    color: #737373;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    margin-bottom: 2em;
}

.contacto-button {
    font-family: 'Quicksand', sans-serif;
    color: #fff;
    background-color: #47C1C4;
    padding: 0.5em 1em;
    border-radius: 10px;
    font-size: 2em;
    font-weight: bolder;
    cursor: pointer;
}
