.intro-banner {
    width: 100vw;
    height: 200vh !important;
    padding-top: 13em;
}

.blue-title h1 {
    width: 50vw;
    color: #fff;
    background-color: #47C1C4;
    font-size: 3.5vw;
    border-radius: 0 10px 10px 0;
    padding: 0.5em;
    text-align: center;
}

.intro-info {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    width: 100vw;
    padding: 0 8vw 0 20vw;
    margin-top: 5em;
}

.intro-info h2 {
    font-size: 3vw;
    margin-bottom: 1em;
}

.intro-info p {
    font-size: 2vw;
}

.blue-bgr {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: relative;
    height: 350vh !important;
}

.blue-bgr h2 {
    font-size: 4vw;
    color: #737373;
    font-family: 'Quicksand', sans-serif;
}

.blue-bgr-logo {
    display: flex;
    align-items: start;
    justify-content: start;
    height: 100vh;
    width: 100vw;
    padding: 5vw;
}

.blue-brg-subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-brg-subtitle p {
    color: #fff;
    font-size: 2vw;
    font-weight: bold;
    width: 60vw;
    text-align: left; 
}

.blue-bgr-logo img {
    position: absolute;
    right: -5em;
    width: 70vw;
    margin-top: 40vh;
}

.des-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.des-intro p {
    font-size: 2vw;
    margin: 2em 0;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.steps {
    margin: 5em 0;
    width: 70vw;
}

.steps-title {
    color: #737373;
    font-size: 5vw;
}

.steps p {
    font-size: 2.3vw;
    margin: 1em 0;
    color: #fff;
}

.steps-title strong {
    font-size: 2em;
    line-height: 1.5em;
}

.contacto-footer {
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacto-banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90vw;
}

.logo-contacto {
    width: 40vw;
}

.logo-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40vw;
}

.logo-button p {
    font-size: 2vw;
    color: #737373;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    margin-bottom: 2em;
}

.contacto-button {
    font-family: 'Quicksand', sans-serif;
    color: #fff;
    background-color: #47C1C4;
    padding: 0.5em 1em;
    border-radius: 10px;
    font-size: 2vw;
    font-weight: bolder;
    cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .blue-title h1 {
        width: 60vw;
        font-size: 4vw;
        margin-bottom: 1em;
    }

    .blue-brg-subtitle p {
        font-size: 3vw;
        width: 80vw;
    }

    .intro-info {
        width: 100vw;
        padding: 0 6vw 0 10vw;
    }
    
    .intro-info h2 {
        font-size: 4vw;
        margin-bottom: 2em;
    }
    
    .intro-info p {
        font-size: 2.5vw;
    }

    .white-brg-subtitle p {
        font-size: 2.5vw;
        width: 60vw;
        margin-bottom: 5em;
    }

    .logo-contacto {
        width: 50vw;
        margin: auto;
    }
    
    .logo-button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 40vw;
        margin: auto;
    }

    .logo-button p {
        font-size: 3vw;
        margin-bottom: 5em;
    }
    
    .contacto-button {
        padding: 0.5em 1em;
        border-radius: 10px;
        font-size: 3vw;
        margin: auto;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .intro-banner {
        height: 110vh !important;
    }

    .blue-title h1 {
        width: 85vw;
        font-size: 5vw;
        margin-bottom: 1em;
    }

    .intro-info {
        padding: 0 5vw;
    }

    .intro-info h2 {
        font-size: 7vw;
    }

    .intro-info p {
        font-size: 4vw;
    }

    .white-bgr {
        height: 300vh !important;
    }

    .white-brg-subtitle p {
        font-size: 4vw;
        width: 80vw;
        margin-bottom: 5em;
    }

    .white-bgr-logo img {
        width: 80vw;
        right: -3em;
    }

    .des-intro {
        width: 90vw;
        padding: 0;
    }

    .des-intro p {
        width: 100%;
    }

    .steps-title {
        font-size: 10vw;
    }

    .steps-title strong {
        font-size: 14vw;
    }

    .steps p {
        font-size: 5vw;
    }

    .contacto-footer {
        height: 90vh;
    }

    .contacto-banner {
        flex-direction: column;
    }

    .logo-contacto {
        width: 75vw;
    }
    
    .logo-button {
        display: flex;
        align-items: center;
        width: 80vw;
        margin-top: 5em;
    }

    .logo-button p {
        font-size: 5vw;
        margin-bottom: 3em;
    }
    
    .contacto-button {
        font-size: 5vw;
    }
}
