* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    outline: none !important;
    transition: 0.5s;
}

::-webkit-scrollbar {
    width: 1em;
    cursor: pointer;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #47C1C4; 
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #737373;
}

body {
    background-color: #fff;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
    height: auto;
    color: #737373;
}

/* ----- Nav Bar ----- */

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    top: 8%;
    z-index: 1000;
    width: 100%;
}

nav ul {
    background-color: #47C1C4;
    width: 40%;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    border: #fff 2px solid;
}

nav ul li {
    list-style: none;
    margin: 1em 2em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.active-nav {
    background-color: #fff;
    color: #47C1C4;
}

/* ----- Footer ----- */

footer {
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em;
    font-weight: bold;
    color: #737373;
}

.left-col {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 1.3em;
}

.left-col a {
    cursor: pointer;
    margin: 0.3em 0;
}

.social {
    font-size: 3em;
}

.social a {
    margin: 0 0.3em;
    cursor: pointer;
}

.right-col {
    display: flex;
    flex-direction: column;
    text-align: right;
    font-size: 1.3em;
}

.right-col a {
    cursor: pointer;
    margin: 0.3em 0;
}