* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    outline: none !important;
    transition: 0.5s;
}

::-webkit-scrollbar {
    width: 1em;
    cursor: pointer;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #47C1C4; 
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #737373;
}

body {
    background-color: #fff;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
    height: auto;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    top: 8%;
    z-index: 1000;
    width: 100%;
}

nav ul {
    background-color: #47C1C4;
    width: 40%;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    border: #fff 1px solid;
}

nav ul li {
    list-style: none;
    margin: 1em 2em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.Home {
    height: 80vh;
}

.central-banner {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.central-banner img {
    width: 30em;
}

.quienes-somos {
    width: 100vw;
    height: 250vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10em;
    background: #47C1C4;
    border-radius: 5em;
    padding: 15em;
}

.title-quienes-somos {
    color: #fff;
    background: #737373;
    padding: 0.8em;
    font-size: 3em;
    border-radius: 20px;
    margin-bottom: 3em;
    font-family: 'Quicksand', sans-serif;
}

.info-quienes-somos p {
    text-align: center;
    color: #fff;
    font-size: 2em;
    line-height: 1.5em;
}

.subtitle-quienes-somos {
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    font-size: 2em;
    color: #fff;
    margin-top: 20em;
}

.info-sec {
    height: auto;
}

.mision-icons-cont {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 30em;
}

.mision-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mision-icons img {
    width: 20em;
}

.mision-subtitle {
    color: #737373;
    font-size: 2em;
    font-weight: bold;
    margin: 1em 0;
}

.mision-desc {
    font-size: 1.5em;
    color: #737373;
    text-align: center;
    margin: 0 3em;
    width: 20em;
    line-height: 2em;
}

.info-logo {
    display: flex;
    align-items: start;
    justify-content: end;
    height: 100vh;
    padding: 2em;
}

.info-logo img {
    position: absolute;
    left: -30em;
    width: 80em;
}

.info-subtitle-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-subtitle-1 p {
    color: #47C1C4;
    font-family: 'Quicksand', sans-serif;
    font-size: 2.5em;
    font-weight: bolder;
    text-align: right;
    width: 60vw;
}

.politicas {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5em 15em;
}

.politicas h2 {
    font-size: 3.5em;
    font-family: 'Quicksand', sans-serif;
    color: #47C1C4;
    margin-bottom: 3em;
}

.politicas p {
    font-size: 2em;
    text-align: center;
    color: #737373;
}

.pros {
    height: 300vh;
    padding: 30em 20em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pros p {
    color: #47C1C4;
    font-size: 3em;
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    margin-bottom: 3em;
}

.blue-sqr {
    display: flex;
    flex-direction: column;
    width: 70vw;
}

.blue-sqr p {
    color: #fff;
    background-color: #47C1C4;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 2em;
    text-align: center;
    padding: 1em;
    border-radius: 10px;
}

.left {
    align-self: flex-start;
    width: 20em;
}

.right {
    align-self: flex-end;
    width: 20em;
}

.contacto-footer {
    height: 150vh;
    background-color: #47C1C4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacto-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contacto-banner p {
    font-size: 2.2em;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    width: 60vw;
}

.logo-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
}

.logo-contacto {
    width: 50em;
}

.contacto-button {
    font-family: 'Quicksand', sans-serif;
    color: #737373;
    background-color: #fff;
    padding: 0.5em 1em;
    border-radius: 10px;
    font-size: 2em;
    font-weight: bolder;
    margin-right: 10em;
    cursor: pointer;
}

footer {
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em;
    font-weight: bold;
    color: #737373;
}

.left-col {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 1.3em;
}

.left-col a {
    cursor: pointer;
    margin: 0.3em 0;
}

.social {
    font-size: 3em;
}

.social a {
    margin: 0 0.3em;
    cursor: pointer;
}

.right-col {
    display: flex;
    flex-direction: column;
    text-align: right;
    font-size: 1.3em;
}

.right-col a {
    cursor: pointer;
    margin: 0.3em 0;
}