* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    outline: none !important;
    transition: 0.5s;
}

body {
    background-color: #fff;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
    height: auto;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    top: 8%;
    z-index: 1000;
    width: 100%;
}

nav ul {
    background-color: #47C1C4;
    width: 40%;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

nav ul li {
    list-style: none;
    margin: 1em 2em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.Home {
    height: 80vh;
}

.central-banner {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.central-banner img {
    width: 30em;
}

.quienes-somos {
    width: 100vw;
    height: 250vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10em;
    background: #47C1C4;
    border-radius: 5em;
    padding: 15em;
}

.title-quienes-somos {
    color: #fff;
    background: #737373;
    padding: 0.8em;
    font-size: 3em;
    border-radius: 20px;
    margin-bottom: 3em;
    font-family: 'Quicksand';
}

.info-quienes-somos p {
    text-align: center;
    color: #fff;
    font-size: 2em;
    line-height: 1.5em;
}

.subtitle-quienes-somos {
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    font-size: 2em;
    color: #fff;
    margin-top: 20em;
}